{% extends molecule('payment-form', 'Braintree') %}

{% define config = {
    name: 'pay-pal',
    tag: 'pay-pal'
} %}

{% block body %}
    {{ parent() }}

    <div class="grid" id="braintreePayPal">
        <div class="col col--sm-12 form__fields {{ config.jsName }}__method">
            <div class="form__field">
                <div id="{{ config.jsName }}__container"></div>
                <div class="{{ config.jsName }}__error"></div>
            </div>

            {{ form_errors(data.form.braintreePayPal) }}
            {{ form_widget(data.form.braintreePayPal) }}
        </div>
    </div>
{% endblock %}
