{% extends molecule('braintree-payment-form', 'Braintree') %}

{% define config = {
    name: 'braintree-pay-pal',
    tag: 'braintree-pay-pal',
} %}

{% define attributes = {
    'data-braintree-client-token': data.form.braintreePayPal.vars.clientToken,
} %}

{% block body %}
    {{ parent() }}

    <div class="form grid" id="braintreePayPal">
        <div class="col col--sm-12 form__fields {{ config.jsName }}__method">
            <div class="form__field">
                <div id="{{ config.jsName }}__container"></div>
                <ul class="list list--bullet list--alert">
                    <li class="list__item {{ config.jsName }}__error is-hidden"></li>
                </ul>
            </div>

            {{ form_errors(data.form.braintreePayPal) }}
            {{ form_widget(data.form.braintreePayPal) }}
        </div>
    </div>
{% endblock %}
