{% extends molecule('braintree-payment-form', 'Braintree') %}

{% define config = {
    name: 'braintree-credit-card',
    tag: 'braintree-credit-card'
} %}

{% define attributes = {
    'data-braintree-client-token': data.form.braintreeCreditCard.vars.clientToken
} %}

{% block body %}
    {{ parent() }}

    <div class="grid" id="braintreeCreditCard">
        <div class="col col--sm-12 form__fields {{ config.jsName }}__method">
            <div class="form__field">
                <label for="{{ config.name }}__number">
                    {{ 'braintreeCreditCard.credit_card_number' | trans }}*
                </label>
                <div id="{{ config.name }}__number" class="hosted-field {{ config.jsName }}__number {{ config.name }}__field"></div>
            </div>

            <div class="form__field">
                <label for="{{ config.name }}__cvv">
                    {{ 'braintreeCreditCard.ccv' | trans }}*
                </label>
                <div id="{{ config.name }}__cvv" class="hosted-field {{ config.jsName }}__cvv {{ config.name }}__field"></div>
            </div>

            <div class="form__field">
                <label for="{{ config.name }}__expiration-date">
                    {{ 'braintreeCreditCard.expiration_date' | trans }}*
                </label>
                <div id="{{ config.name }}__expiration-date" class="hosted-field {{ config.jsName }}__expiration-date {{ config.name }}__field"></div>
            </div>

            <div class="form__field">
                <ul class="list list--bullet list--alert">
                    <li class="list__item {{ config.jsName }}__error is-hidden"></li>
                </ul>
            </div>

            {{ form_errors(data.form.braintreeCreditCard) }}
            {{ form_widget(data.form.braintreeCreditCard) }}
        </div>
    </div>
{% endblock %}
